* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #FF7D44;
    --secondary-color: #0B3742;
    --tertiary-color: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* slider style starts */

.main-slider {
    background-image: linear-gradient(rgb(0 0 0 / 80%), rgb(0 0 0 / 70%)), url(images/shipping-banner.jpg);
    height: 600px;
}